[submodule "PSoC Project Template.cydsn/HindsightCAN"]
	path = PSoC Project Template.cydsn/HindsightCAN
	url = https://github.com/huskyroboticsteam/HindsightCAN.git
[submodule "CAN FD Breakout Board.cydsn/HindsightCAN"]
	path = CAN FD Breakout Board.cydsn/HindsightCAN
	url = https://github.com/huskyroboticsteam/HindsightCAN.git
